{% extends "base.html" %}

{% block page_content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Desk</th>
            <th scope="col">Name</th>
            <th scope="col">From</th>
            <th scope="col">Until</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <th scope="row">{{ booking.id }}</th>
            <td>{{ booking.desk_id }}</td>
            <td>{{ booking.name }}</td>
            <td>{{ booking.from_when }}</td>
            <td>{{ booking.until_when }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
